# node files
node_modules/

# atom files
.jshintrc

# database path and files
CIKM/
data/db/
data/demand/

# log files
log/**/*.log*

# npm files
npm-debug.log

# development tools
dev/test-server.js
